body{
font-family:Arial;
background:#0f2f1f;
color:white;
margin:0;
padding:20px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.card{
background:#163f2a;
padding:15px;
border-radius:10px;
text-align:center;
}

.card img{
width:100%;
border-radius:8px;
}

button{
background:#2ecc71;
border:none;
padding:10px;
border-radius:6px;
color:white;
cursor:pointer;
}

.carrito{
position:fixed;
right:20px;
top:80px;
background:#163f2a;
padding:20px;
display:none;
border-radius:10px;
width:250px;
}
